<html>
  <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/app.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <center>
    <h1>Bienvenu dans votre Home Space</h1> <br />
    <a href="/logout"><img src="{{url_for('static', filename='img/power-off.png')}}" alt="Logout" style="width: 32px; height: 32px; margin-bottom: 10px;"></a>
    
    <nav>
      <a href="/get_user_files">Files ({{ num_files }})</a>&emsp;&emsp; 
      <a href="/get_user_dirs">Dirs ({{ num_dirs }})</a>&emsp;&emsp; 
      <a href="#">Space {{ total_size }}</a>
    </nav>
    <form action="#" method="get" class="search-form">
      <input type="text" name="q" placeholder="Rechercher...">
      <a href="#" class="search-btn"><img src="{{url_for('static', filename='img/search-interface-symbol.png')}}" alt="search" style="width: 23px; height: 23px;"></a>
    </form>
    <a href="#" class="download-btn"><img src="{{url_for('static', filename='img/download.png')}}" alt="download" style="width: 32px; height: 32px; margin-top: 7px;"></a>

    <table>
      <thead>
        <tr>
          <th>Dossier</th>
          &emsp;&emsp;<th>Date de modification</th>
          <th>Taille</th>
        </tr>
      </thead>
      <tbody>
        {%for i in range(0, dirlen)%}
        <tr>
          <td class="dir" onclick="handleClick('{{dirs[i][3]}}')">{{dirs[i][0]}}</td>
          <td>{{dirs[i][1]}}</td>
          <td>{{dirs[i][2]}}</td>
        </tr>
        {%endfor%}
        {%for i in range(0, filelen)%}
        <tr>
          <td class="file">{{files[i][0]}}</td>
          <td>{{files[i][1]}}</td>
          <td>{{files[i][2]}}</td>
        </tr>
        {%endfor%}
      </tbody>
    </table>
    
    
    

  </center>
  <script>
    function handleClick(path) {
      $.ajax({
        type: 'GET',
        url: '/dir/' + path,
        success: function (response) {
          window.location.href = '{{ url_for("dir", dir_path="")}}' + encodeURIComponent(path)
        }
      })
    }
  </script>
</html>
