<html>
  <link rel="stylesheet"  type="text/css" href="{{url_for('static', filename='css/login.css')}}">
  <center>
    <h3 style="color: darkmagenta">LOGIN</h3>
    <form action="/login" method="post">
      <label>Username</label> <br />
      <input
        style="border: 2; border-style: groove; border-color: darkmagenta"
        type="text"
        name="username"
      /><br />
      <label>Password</label><br />
      <input
        style="border: 2; border-style: groove; border-color: darkmagenta"
        type="password"
        name="password"
      />
      <br /><br />
      <input style="color: purple; font-weight: bold;" type="submit" value="Authenticate" />
      <br /><br />
    </form>
    <!-- <a href="/signupview">Sign Up</a> -->
    <p style="color: red">{{error_auth}}</p>
  </center>
</html>